<div class="header">
  <div class="hero section is-info">
    <div class="hero-head">
      <%- include("_nav") %>
    </div>
    <div class="hero-body">
      <div class="container">
        <h1 class="title has-text-centered has-text-white"><%= title %></h1>
      </div>
    </div>
  </div>
</div>