<div class="section">
  <div class="container">
    <p>This is assignment 5 for the full stack javascript class at Weber State. This project is being creasted to help us learn about React, Mongodb, and Express.</p>
  </div>
</div>
